# ============================================================
# TaxCollect - Environment Variables
# Copy this file to .env and fill in the values
# DO NOT commit the .env file
# ============================================================



# ============================================================
# POSTGRES TAX COLLECT
# ============================================================

DB_USERNAME=directus
DB_PASSWORD=directus


# ============================================================
# POSTGRES KEYCLOAK
# ============================================================

KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=directus_KEYCLOAK


# ============================================================
# KEYCLOAK ADMIN
# ============================================================

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin


# ============================================================
# KEYCLOAK CLIENT
# ============================================================

KEYCLOAK_ADMIN_CLIENT_SECRET=L4kARi9SZe0AdjVGG4suLInRhE3st893


# ============================================================
# LDAP
# ============================================================

LDAP_ADMIN_PASSWORD=TON_MOT_DE_PASSE_LDAP

# Server
SERVER_PORT=9091

# Active Spring profile
 SPRING_PROFILES_ACTIVE=docker

SMS_ENABLED=false
SMS_API_URL=
SMS_API_KEY=
SMS_SENDER_NAME=TAXCOLLECT


